:root {
    --primary: #8E57E9;
}

.header {
    background-color: #f0f0f0;
}

.header img {
    height: 60px;
    width: auto;
    mix-blend-mode: darken;
}

.header ul {
    float: right;
    margin: 20px 0 0;
}

.header ul li {
    display: inline-block;
    padding-right: 20px;
}

.header ul li a {
    text-decoration: none;
    color: #000;
}

.header ul li.quote a {
    background-color: var(--primary);
    color: #fff;
    padding: 6px 15px;
    border-radius: 3px;
}

.header ul li.registerBtn a {
    border: 1px solid #000;
    color: #000;
    padding: 5px 15px;
    border-radius: 3px;
    transition: all .3s ease-in;
}

.header ul li.registerBtn a:hover {
    background-color: #000;
    color: #fff;
    transition: all .3s ease-in;
}

.header button {
    display: none;
}

.header .headerTop {
    background: linear-gradient(45deg, #8e57e9, #000000);
    padding: 10px 0;
    text-align: center;
}

.header .headerTop h6 {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (max-width:768px) {

    .header ul {
        display: none;
    }

    ul.navActive {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        background: #fff;
        padding: 0px 10px 20px 10px;
        width: 100%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    ul.navActive li {
        display: block;
        margin: 10px 0;
        padding: 5px;
    }

    ul.navActive li:hover {
        background-color: #f0f0f0;
    }

    .header button {
        float: right;
        display: block;
        margin: 10px;
    }
}

/* footer  */
.footer {
    background-color: #f0f0f0;
    padding: 30px 0 0;
}

.footer .footercopy {
    text-align: center;
    background-color: var(--primary);
    padding: 5px;
    color: #fff;
    margin-top: 20px;
}

.footer .footerLogo img{
    height: 70px;
    width: auto;
    mix-blend-mode: darken;
}