:root {
    --primary: #8E57E9;
}


.HeroSection {
    background-color: #fff;
    padding: 40px 0 50px;
}

.HeroSection h2 {
    margin-bottom: 20px;
    font-size: 45px;
    font-family: system-ui;
}

.HeroSection h2 b {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 3px;
    display: block;
}

.HeroSection p {
    font-size: 16px;
    line-height: 1.7em;
    font-family: 'poppins';
}

.HeroSection Button {
    background-color: var(--primary);
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.HeroSection Button a {
    color: #fff;
    text-decoration: none;
}

.HeroSection img {
    height: auto;
    max-width: 80%;
}

.login-container button[type="submit"] {
    background-color: #7849C4;
}

.login-container .login-links a {
    color: #000;
    text-decoration: none;
}

.notfound {
    text-align: center;
}

.notfound img {
    height: 400px;
    width: auto;
}

.HeroSection .connectNow {
    margin-left: 20px;
    border: 1px solid #110B1C;
    background-color: transparent;
}

.HeroSection .connectNow:hover {
    background-color: #000;
}

.HeroSection .connectNow a {
    color: #000;
}

.HeroSection .connectNow:hover a {
    color: #fff;
}